body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:60px;
  width:289px;
  height:520px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:520px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:73px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:200px;
  top:530px;
  width:80px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:440px;
  top:240px;
  width:300px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
