body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:15px;
  top:61px;
  width:288px;
  height:517px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:517px;
}
#u3 {
  position:absolute;
  left:2px;
  top:250px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:440px;
  top:240px;
  width:300px;
  height:91px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:91px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:520px;
  width:110px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:30px;
  top:73px;
  width:40px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
