body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:651px;
}
#u1 {
  position:absolute;
  left:2px;
  top:318px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:16px;
  top:60px;
  width:287px;
  height:518px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:518px;
}
#u3 {
  position:absolute;
  left:2px;
  top:251px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:440px;
  top:240px;
  width:330px;
  height:122px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:122px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:230px;
  top:540px;
  width:40px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:50px;
  top:540px;
  width:40px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
