body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:12px;
  width:592px;
  height:1318px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:1318px;
}
#u1 {
  position:absolute;
  left:2px;
  top:651px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:34px;
  top:125px;
  width:543px;
  height:965px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:965px;
}
#u3 {
  position:absolute;
  left:2px;
  top:474px;
  width:539px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:161px;
  width:190px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:120px;
  top:169px;
  width:60px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:33px;
  top:219px;
  width:544px;
  height:971px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:971px;
}
#u9 {
  position:absolute;
  left:2px;
  top:478px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:34px;
  top:219px;
  width:543px;
  height:71px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:71px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:539px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:34px;
  top:300px;
  width:543px;
  height:100px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:38px;
  width:539px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:34px;
  top:420px;
  width:543px;
  height:490px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:490px;
}
#u15 {
  position:absolute;
  left:2px;
  top:233px;
  width:539px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:34px;
  top:960px;
  width:543px;
  height:100px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:539px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:740px;
  top:390px;
  width:340px;
  height:120px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
