body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:360px;
  height:530px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:530px;
}
#u1 {
  position:absolute;
  left:2px;
  top:257px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:330px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:60px;
  width:300px;
  height:173px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:173px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:330px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:440px;
  top:240px;
  width:300px;
  height:15px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
