<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssdut411.app.bookbar" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:name=".activity.system.MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DayTheme" >
        <activity
            android:name=".activity.system.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.person.LoginActivity"/>
        <activity android:name=".activity.person.RegisterActivity"/>
        <activity android:name=".activity.person.ForgetPasswordActivity"/>
        <activity android:name=".activity.mainPage.SearchActivity"/>
        <activity android:name=".activity.mainPage.BookDetailActivity"/>
        <activity android:name=".activity.mainPage.SelectLibraryActivity"/>
        <activity android:name=".activity.mainPage.CaptureActivity"/>
        <activity android:name=".activity.book.BookBorrowActivity"/>
        <activity android:name=".activity.book.BookCollectionActivity"/>
        <activity android:name=".activity.book.BookReservationActivity"/>
        <activity android:name=".activity.person.ChangePasswordActivity"/>
        <activity android:name=".activity.person.PaperWorkActivity"/>
        <activity android:name=".activity.person.NewPaperActivity"/>
        <activity android:name=".activity.show.BrowerBookActivity"/>
        <activity android:name=".activity.show.CreateDBActivity"/>
        <activity android:name=".activity.show.FindBookActivity"/>
    </application>

</manifest>
